$clrBg: #696969;
$clrH1: #fff4d2;
$clrH3: #d79656;

$clrBoardLsBg: #d8cb9f;
$clrBoxBorder: #444444;
$clrBoxBorderOld: #3f3f3f;
$clrBoardTitle: #454545;
$clrNewPostNum: #c00000;
$clrNewPostsTodayText: #454545;

$clrBoardLsOldBg: #776a4c;
$clrPostEditIcon: #d79656;
$clrPostTitle: #232323;
$clrPostContent: #232323;
$clrPostInfo: #882d0e;
